# PostgreSQL
POSTGRES_USER=revisional
POSTGRES_PASSWORD=change_me
POSTGRES_DB=revisional_db

# MinIO (S3)
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=change_me
MINIO_BUCKET=revisional-docs

# pgAdmin
PGADMIN_EMAIL=admin@revisional.dev
PGADMIN_PASSWORD=change_me
